* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 8vh;
  width: 100%;
  background-color: #95c8d8;
  display: flex;
}

.nav h1 {
  margin: auto;
  color: #f8f8ff;
}

.hero {
  height: 92vh;
  width: 100%;
  display: flex;
}

.hero section {
  margin: auto;
  flex-direction: row;
  psoition: relative;
}

.hero section button {
  padding: 0.5rem;
  background: #95c8d8;
  color: #f8f8ff;
  border-radius: 5%;
  margin-top: 1.5rem;
  position: absolute;
  right: 46.5%;
  cursor: pointer;
  outline: none;
}

.hero section h3 {
  font-size: 1rem;
  color: #f8f8ff;
  background-color: #95c8d8;
  padding: 10px;
}
